.buscar {
	height: 35px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #CCCCC0;
	font-size: 14px;
	font-size: 16px;
	width: 570px;
	margin-bottom: 20px;
}
   
.pesquisaDiv{
	margin-top: 0px;
	padding-left:43px; 
	padding-top:15px;
	min-height: 300px; 
	background-repeat:no-repeat; 	
	background-image: url('/public/images/busca/topo1.png'); 
	position: relative;
	
}