.zend_form{
	margin-left: auto;margin-right: auto; width: 300px;
}

.zend_form div{
	
}
.zend_form dt{
	float: left;
	margin-right: 10px;
	margin-bottom:10px;
	font-family: Tahoma, Arial, Helvetica, Sans-serif;
	font-size: 18px;
	width: 150px;
	height: 35px;
}


.titile_form{
	margin-left: auto;margin-right: auto; width: 350px;
}
.campoInicio{
	width: 550px;
	height: 70px;
	border-top: 1px solid #AAAAAA;
	margin-top: 50px;	
}

.campoInicio input{
	height: 35px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #CCCCC0;
    font-size: 14px;
    font-size: 16px;
}

.campoTextArea{
	width: 490px;
	height: 150px;
	border-top: 1px solid #AAAAAA;
	padding-top: 10px;
	margin-top: 40px;
}

.campoTextArea textarea{
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #CCCCC0;
    font-size: 14px;
  
}

#objetivo-label{
	padding-top: 40px;
}
.campoFim{
	width: 550px;
	height: 70px;
	border-bottom: 1px solid #AAAAAA;
	margin-bottom: 30px;	
}
.campoFim input{
	height: 35px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #CCCCC0;
    font-size: 14px;
    font-size: 16px;
}
.campo{
	width: 550px;
	margin-bottom: 20px;	
}
.campo input{
	height: 35px;
	-webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid #CCCCC0;
    font-size: 14px;
    font-size: 16px;
}
.btRadio{
	width: 500px;
	font-size: 18px;
	height: 35px;
	margin-bottom: 10px;	
}
.errors{
	font-size: 14px;
	color:red;
}
.errors li{
	list-style: none;
}

