
body { margin:0; padding:0; width:100%; background:#474747; }
html { padding:0; margin:0; }
.main2 { margin:0 auto; padding:0; background:#474747 }
.main { margin:0 auto; padding:0; background:#474747 url(/public/images/geral/header_blog.gif) top repeat-x; }
.resize { width:960px; padding:0; margin:0 auto; }


/********** header **********/
.header_resize { margin:0; padding:0; }
.header { width:960px; padding:0; margin:0 auto; }
.header h2 { font:bold 36px Arial, Helvetica, sans-serif; color:#fff; padding:20px 25px; margin:0; }


/* search */
.search { padding:5px 0 0 0; margin:0 auto; }
.search form { display:block; float:left; padding:10px 0 0 0; }
.search span { display:block; float:left; border:1px solid #e1e1e1; background:#fff; width:240px; padding:0 5px; height:31px; }
.search form .keywords { font:normal 12px Arial, Helvetica, sans-serif; color:#000; line-height:15px; height:15px; width:240px; float:left; background:none; border:0; padding:8px 0; margin:0; }
.search form .button { float:left; margin:0; padding:0; }


/* logo */
.logo { padding:0; margin-top:0px; margin-left:0px; margin-right:0px; margin-bottom:15px;  width:245px;  float:left; }


/*menu*/
.menu { padding:63px 0 0 0; margin:0; width:580px; float:right; }
.menu ul { text-align:right; padding:0; margin:0; list-style:none; border:0; float:right; }
.menu ul li { float:left; margin:0; padding:0 5px; border:0; }
.menu ul li a { float:left; margin:0; padding:12px; color:#d7d7d7; font:bold 12px Arial, Helvetica, sans-serif; text-decoration:none; border-left:1px solid #3c3c3c; }
.menu ul li a:hover { color:#fff; background:#48c4e1; border-left:1px solid #fff; }
.menu ul li a.active { color:#fff; background:#48c4e1; border-left:1px solid #fff; }


/* body */
.body_resize { padding:0; background:url(/public/images/geral//body_bg.gif) top repeat-y; width:960px; margin:0 auto; border-top:6px solid #48c4e1; }
.body_resize2 { width:960px; padding:0; margin:0 auto; border-top:6px solid #48c4e1; background:#fff; }
.body { padding:0; margin:0 auto; }
.body h2 { font:normal 18px Arial, Helvetica, sans-serif; color:#2a2a2a; padding:10px 0 20px 0; margin:0; }
.body h2 span { font:normal 11px Arial, Helvetica, sans-serif; color:#7d7d7d; }
.body p { font:normal 12px Arial, Helvetica, sans-serif; color:#8f8f8f; line-height:1.5em; padding:3px 0; margin:0; }
.body p span { font:bold 14px Arial, Helvetica, sans-serif; color:#565656; }
.body a { color:#48c4e1; text-decoration:none; }
.body img { margin:5px auto; padding:0; }
.body img.floated { float:left; margin:10px 15px 10px 0; padding:0; }
.right { width:295px; margin:0; padding:10px 25px; float:right; }
.left { width:565px; margin:0; padding:10px 25px; float:left; }
.block { width:250px; float:left; margin:10px 0; padding:0 10px 0 0; }
.port { width:285px; margin:10px 10px 10px 0; padding:0; float:left; }
.port_bg { padding:10px 25px; margin:0; }



/* FBG */
.FBG { margin:0 auto; padding:0px 0; width:1024px; }
.FBG h2 { font:bold 14px Arial, Helvetica, sans-serif; color:#c7c7c7; padding:5px 0; margin:0; }
.FBG ul { list-style:none; margin:0; padding:0; }
.FBG li { background:url(/public/images/geral//fbg_ul_li.gif) left no-repeat; padding:1px 0 1px 15px; margin:0; }
.FBG li a { font:normal 11px Arial, Helvetica, sans-serif; color:#969696; text-decoration:none; text-transform:none; }
.FBG li a:hover { text-decoration:none; color:#fff; }
.FBG p { font:normal 11px Arial, Helvetica, sans-serif; color:#969696; line-height:1.5em; padding:5px 0; margin:0; }
.FBG img { margin:5px; padding:0; float:left; }
.FBG .blog { width:250px; float:left; margin:0; padding:15px 20px; }
.FBG .blog2 { width:150px; float:left; margin:0; padding:15px 20px; }



/* contactform*/
#contactform { margin:0; padding:5px 0; }
#contactform * { color:#F00; }
#contactform ol { margin:0; padding:0; list-style:none; }
#contactform li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#contactform li.buttons { margin:5px 0 5px 0; clear:both; }
#contactform label { margin:0; width:100px; display:block; padding:10px 0; color:#6a6a60; font:normal 11px Arial, Helvetica, sans-serif; text-transform:capitalize; float:left; }
#contactform label span { color:#F00; }
#contactform input.text { width:450px; border:1px solid #dfdfdf; margin:2px 0; padding:5px 2px; height:16px; background:#f8f8f8; float:left; }
#contactform textarea { width:450px; border:1px solid #dfdfdf; margin:2px 0; padding:2px; background:#f8f8f8; float:left; }
#contactform li.buttons input { padding:3px 0 3px 0; margin:10px 0 0 0; border:0; color:#FFF; float:left; }



/*************footer**********/
.footer { padding:0; margin:0; background:#424242; 
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#222222'); /* IE */
background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#222222)); /* webkit browsers */
background: -moz-linear-gradient(top, #424242,  #222222 ); 
}


.footer_resize { width:960px; margin:0 auto; padding:0; }
.footer p { font:normal 11px Arial, Helvetica, sans-serif; color:#a5a5a5; }
.footer img { float:left; margin:0 10px 0 0; padding:0; }
.footer a { font:bold 11px Arial, Helvetica, sans-serif; color:#c7c7c7; text-decoration:none; padding:5px; margin:0; }
.footer p.leftt { text-align:left; width:550px; margin:0; padding:25px 0 0 0; float:left; }
p.clr,
.clr { clear:both; padding:0; margin:0; background:none; }
li.bg,
.bg { float:right; clear:both; border-top:1px solid #e2e2e2; width:100%; padding:0; margin:5px 0; background:none; line-height:0; }



.rodape{
	margin-left: auto;margin-right: auto; width: 1024px;
	height: 150px;
	padding-left:40px;
	position:relative;
	z-index:1;
	font-weight: bold;
}

.rodape .grupo{ float: left; width: 200px; }
.rodape .grupo big{margin-left: 30px; margin-bottom: -10px;}
.rodape .grupo ul li{ list-style: none; font-size: 12px; margin-bottom: 5px;}




/* Slider */
#slider { width:960px; padding:28px 0 !important; padding:28px 0 0 0; background:url(/public/images/geral/simple_bg.gif) bottom center no-repeat; margin:0 auto; height:318px; }
div#slideshow { float:left; width:100%; height:318px; padding:0; margin:0; }
.slider-item { width:100% !important; height:318px; }
.slider_content_inner img { border:none; }


#loading{
	top:0px;
	left:50%;
	width: 250px;
	position: fixed;
	z-index: 999;
	display: none;
	font-size: 14px;
	font-weight: bold;
}